<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mymodal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class = "ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mymodal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)= "openModal()" expand="full" >Transparent Modal</ion-button>
  <ion-button (click)= "openTransparentModal()" expand="full" color="secondary">Transparent Modal</ion-button>
  <ion-button (click)= "popOverModal($event)" expand="full" color="tertiary">Popover Modal</ion-button>
</ion-content>
